h1{
    font-size: 3em;
    text-indent: 0.9em;
}
h2{
    font-size: 1.8em;
    text-indent: 1.3em;
}
ul{
    list-style: none;
    font-size: 1.2em;
}
li{
   font-weight: bold;
   text-align:left;
}
.basicinfo > li, .contactinfo> li{
    display:inline;
}
div{
    padding:0.5em;
    font-weight: normal;
    display:inline;
}
p{
    line-height:0.1em;
}
.candolist > li{
    padding-bottom:clear;
}